{% extends "base_generic.html" %}

{% block content %}
<main role="main" class="container">
    <h3 class="lead" style="color: #596272"><strong>Ranking BookStop</strong></h3><br>
    {% for book in books %}
        <div class="row" id="top10">
            <div class="col-3">
                <img class="thumbnail" src="{{ book.caratula.url }}">
            </div>
            <div class="col-6">
                <h1>{{ forloop.counter }} - {{ book.titulo }}</h1>
                <h3>{{ book.autor }}</h3>
                <h6>{{ book.genero.first }}</h6>
            </div>
            <div class="col-3">
                <!--input class="btn btn-primary btn-block" type="button" id="boton1" name="ver" value="Ver"-->
                <a href="{% url 'book-detail' book.pk %}" class="btn btn-primary btn-block" role="button">Ver</a>
                <input class="btn btn-primary btn-block" type="button" id="boton2" name="ver" value="Reseñas">
            </div>
        </div>
        <br>
    {% endfor %}
</main>
{% endblock %}